@use "../../utils/funtions.scss" as funct;

.input-component {
  display: flex;
  flex-direction: column;
  gap: funct.px-to-vw(10);
  width: 87%;

  .input-label {
    color: #000;
    font-weight: 600;

    @include funct.transform_web {
      width: 100%;
      font-size: funct.px-to-vw(20);
    }

    @include funct.transform_mobile {
      width: 100%;
      font-size: funct.px-to-vw(140);
      margin-bottom: funct.px-to-vw(40);
    }
  }

  .input-container-all {
    display: flex;
    align-items: center;

    @include funct.transform_mobile {
      gap: funct.px-to-vw(40);
    }

    .input-icon {
      position: relative;
      left: funct.px_to_vw(5);
      background-color: #244F99;
      width: funct.px-to-vw(40);
      height: auto;
      padding: funct.px_to_vw(6);
      border-top-left-radius: funct.px-to-vw(10);
      border-bottom-left-radius: funct.px-to-vw(10);

      @include funct.transform_mobile {

        width: funct.px-to-vw(100);
      }
    }

    .input-field {
      width: 100%;
      border-left: 1px solid transparent;
      border-radius: funct.px-to-vw(5);

      @include funct.transform_web {
        font-size: funct.px-to-vw(16);
        padding: funct.px-to-vw(15) funct.px-to-vw(15);
      }

      @include funct.transform_mobile {
        font-size: funct.px-to-vw(130);
        padding: funct.px-to-vw(70);
        border-radius: funct.px-to-vw(60);
      }
    }
    .show-password-btn{
      // width: funct.px_to_vw(40);
      
      // background-color: red;
      border: none;
      position: absolute;
      transform: translate(340px, 0px);
      .show-password-img{
        width: funct.px_to_vw(30);
      }
      // transform: translate(30px 40px);
    }
  }
}
