@use "../../utils/funtions.scss" as funct;
@use "../../utils/fuentes.scss" as style;

.Lateral-Menu-container-left {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding-top: funct.px_to_vw(160);

    .container-icon-image-profile {
       
        width: fit-content;
        height: fit-content;
        margin-bottom: funct.px_to_vw(70);
        margin-top: funct.px_to_vw(50);


        .imgae-profile {
            background-color: red;
            width: funct.px_to_vw(100);
            // border: 4px solid rgb(3, 3, 3);
            // border-radius: 50%;
        }
    }

    .container-menu-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: funct.px_to_vw(10);

        .container-navigation-menu {
            @include style.family-Helvetica-Black;
            cursor: pointer;
            width: funct.px_to_vw(270);
            height: funct.px_to_vw(40);
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            align-items: center;
            padding-bottom: funct.px-to-vw(10);
            margin-bottom: funct.px_to_vw(20);

            &.selected-section {
                @include style.family-Helvetica-Black;
                transition: all 0.5s ease-in-out;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
                background-color: white;
                color: #000;
                width: funct.px_to_vw(270);
                height: funct.px_to_vw(40);
                border-radius: funct.px_to_vw(50);
            }
        }
    }
}
