@use "../../utils/funtions.scss" as fonts;
.dashboard-container{
    background-color: #244F99;
    width: 100%;
    height: fonts.px_to_vw(900);
    display: flex;
    padding-bottom: fonts.px_to_vw(60);
    flex-direction: column;
    .dashboard-container-content{
        display: flex;
        flex-direction: row;
        .dashboard-container-left-menu{
            height: fit-content;
            width: 18%;
        }
        .dashboard-section-content{
            /* Example box-shadow, adjust as needed */
            // box-shadow: 1px 10px 10px 15px rgba(0, 0, 0, 0.1);
            background-color: #FFFF;
            // border-radius: fonts.px_to_vw(30);
            width: 92%;
            // margin-top: 2vw;
            height: fonts.px_to_vw(960);
            padding: fonts.px_to_vw(50);
        }
    }
}